[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "bundle/vim-latex"]
	path = bundle/vim-latex
	url = git://vim-latex.git.sourceforge.net/gitroot/vim-latex/vim-latex
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = http://github.com/tpope/vim-surround
